# Files to ignore from version control.
.DS_Store
*.aux
*.dvi
*.lof
*.log
*.lot
*.mpo
*.mps
*.mpx
*.out
*.pyc
*.swp
*.synctex.gz*
*.toc
src/circuit_simulator/proto_board/automated_testing/auto_generated_dataset/*
src/circuit_simulator/proto_board/automated_testing/tiny_dataset/*
